@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
$base-color: #696cff;
$p-background:#e7ebf0;
.nav_bar {
    color: #31344b;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 25px;
    border-radius: 6px;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
    transition: all 0.2s ease;
    outline: none;
    border: none;
    border-bottom: 4px solid transparent;
    font-family: poppins;
}

.nav_bar i {
    margin-right: 10px;
}

.nav_bar:hover {
    box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
    color: $base-color;
    border-bottom: 4px solid $base-color;
}